
h1 {
  margin: 10px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li{
  list-style-type: none;
  border-bottom: 1px solid darkgrey;
  margin: 10px;
}

.button{
  margin: 10px;
}

.tableNumber{
  font-size: 20px;
  font-weight: 550;
}

.tableStatus {
  font-size: 18px;
  font-weight: 450;
  margin-left: 10px;
  margin-right: 5px;;
}